.button {
  background-color: var(--c-theme);
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  height: 40px;
  min-width: 40px;
  font-weight: bold;

  &:hover {
    color: var(--c-theme-text-color);
    background-color: var(--c-theme-hover);
  }
}

.bigButton {
  height: 47px;
  min-width: 47px;
}
