:root {
    --c-primary: #000;
    --c-theme: #1da1f2;
    --c-theme-20: rgba(29, 161, 242, 0.2);
    --c-text-color: #FFFFFF;
    --c-border-color: #2F3336;
    --c-gray: #6E767D;
    --c-dark-gray: #202327;

    --fade: 120ms;
}